name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Make deploy script executable
        run: chmod +x scripts/deploy.sh

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_KEY }}

      - name: Convert script line endings
        run: |
          sudo apt-get update
          sudo apt-get install -y dos2unix
          dos2unix scripts/deploy.sh

      - name: Run deploy script on EC2
        run: ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_HOST }} 'bash -s' < scripts/deploy.sh
